BasedOnStyle: LLVM
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: false
  AfterFunction:   true
BreakBeforeBraces: Custom
AlignAfterOpenBracket: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
IndentWidth: 4
TabWidth: 4
UseTab: Always