Language: Cpp
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: true
BasedOnStyle: LLVM
ContinuationIndentWidth: 2
IndentCaseLabels: true
IndentFunctionDeclarationAfterType: false
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 0
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: true
AlignTrailingComments: false
AlignOperands: false
Cpp11BracedListStyle: false
SortIncludes: false
